/* Color variables*/
/* height variables*/
/*General Layout*/
html {
  padding: 0;
  margin: 0;
  overflow: hidden; }

body {
  padding-top: 70px;
  background-color: #1a1a1a;
  margin-bottom: 24px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 24px;
  background-color: #f5f5f5; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
                         not supported by any browser */ }

.navbar-default {
  background-color: #212121; }

.modal-title {
  text-align: center; }

/*Top Bar styles*/
.navbar-header {
  padding-top: 8px;
  width: 100%; }
  .navbar-header .logoimage {
    height: 40px; }

.appname {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  vertical-align: bottom;
  margin-left: 20px; }

.topright {
  text-align: right;
  height: 56px;
  line-height: 56px;
  vertical-align: middle;
  font-size: 20px;
  color: #FFFFFF; }

.topright .btn-sm {
  font-size: 20px;
  padding: 0 9px; }

#thedate {
  color: #ccc;
  margin: 0 20px; }

/*Tab styling*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #F5A623; }

.tab-content {
  position: relative; }
  .tab-content .tab-pane {
    background-color: #212121;
    height: 100%;
    overflow: auto; }

/*Printerbox styling*/
.printerbox {
  min-height: 50px;
  background-color: #424242;
  margin: 8px 8px;
  padding: 8px;
  display: flex; }
  .printerbox .progress {
    margin-top: 14px;
    margin-bottom: 2px; }
  .printerbox .progress.support .progress-bar {
    background-color: #2196F3; }
  .printerbox .progress.metal .progress-bar {
    background-color: #F5A623; }

.mediatitle {
  font-weight: 100;
  font-size: 0.8em;
  color: #9E9E9E;
  text-align: center;
  margin-bottom: 8px; }

.lpane {
  width: 140px;
  padding: 4px; }
  .lpane .printerpic {
    text-align: center; }
  .lpane .connection {
    margin-top: 4px; }
    .lpane .connection .btn:first-child {
      min-width: 100px; }

.printername {
  line-height: 22px;
  vertical-align: middle; }
  .printername i {
    font-size: 28px;
    vertical-align: middle; }
  .printername i.status1 {
    color: #7ED321; }
  .printername i.status2 {
    color: #F5A623; }
  .printername i.status3 {
    color: #F44336; }
  .printername i.status4 {
    color: #9E9E9E; }
  .printername i.blink {
    animation: blinker 1.7s cubic-bezier(0.5, 0, 1, 1) infinite alternate; }
@keyframes blinker {
  to {
    opacity: 0; } }
.rpane {
  flex: 1 auto; }
  .rpane .printertitle {
    color: #F5A623; }
  .rpane .nowprinting {
    width: 100%;
    border-collapse: separate;
    border-spacing: 6px; }
    .rpane .nowprinting .progress {
      margin: 0px;
      width: 100px;
      height: 16px; }
      .rpane .nowprinting .progress .progress-bar {
        padding: 2px;
        background-color: #F5A623; }
  .rpane .nowprinting .btn {
    padding: 3px 6px; }
  .rpane .nowprinting td {
    text-align: center;
    color: #9E9E9E;
    font-weight: 100;
    font-size: 0.8em;
    padding: 0 6px;
    vertical-align: top; }
  .rpane .nowprinting th {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 1em;
    padding: 0 6px;
    border-bottom: 1px solid #9E9E9E; }
  .rpane .nowprinting th:last-child {
    border: none; }
  .rpane .queuetitle, .rpane .jhistorytitle {
    margin-top: 4px;
    border-top: 1px solid #212121; }
    .rpane .queuetitle a, .rpane .jhistorytitle a {
      color: #F5A623;
      cursor: pointer;
      text-decoration: none; }
  .rpane .queue {
    max-height: 220px;
    overflow: auto; }

.jhistory {
  max-height: 220px;
  overflow: auto;
  display: none; }

.allhistory {
  display: block;
  overflow: visible;
  max-height: none; }

.mover {
  width: 20px;
  text-align: center;
  position: relative;
  cursor: pointer; }

.mover:before {
  font-family: 'FontAwesome';
  content: "\f0dd";
  color: #F5A623;
  font-size: 0.8em;
  position: absolute;
  left: 1px;
  bottom: -10px; }

.mover:after {
  font-family: 'FontAwesome';
  content: "\f0de";
  color: #F5A623;
  font-size: 0.8em;
  position: absolute;
  left: 1px;
  top: -7px; }

.queue-remove {
  font-size: 1.2em; }

.queue-resend {
  font-size: 1.2em; }

.progress-bar-vertical {
  width: 32px;
  min-height: 80px;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto; }

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease; }

.queue table tr, .jhistory table tr {
  background-color: #4f4f4f; }
.queue table tr:nth-of-type(odd), .jhistory table tr:nth-of-type(odd) {
  background-color: #5c5c5c; }
.queue table th, .jhistory table th {
  background-color: #9E9E9E;
  color: black; }
.queue table .btn, .jhistory table .btn {
  padding: 2px 6px; }

/*Printer management*/
.printerbin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #212121; }
  .printerbin .printer {
    text-align: center; }
  .printerbin .newprinter {
    text-align: center; }
    .printerbin .newprinter i {
      font-size: 120px;
      color: #9E9E9E; }
    .printerbin .newprinter .buttons {
      position: absolute;
      bottom: 8px;
      left: 8px;
      width: calc(100% - 16px); }

.printer {
  position: relative;
  border: 1px solid #fff;
  background-color: #424242;
  min-height: 500px;
  width: 340px;
  min-width: 340px;
  margin: 10px;
  padding: 8px;
  border-radius: 4px; }
  .printer .printerpic {
    text-align: center; }

.printer-info {
  margin: 0 auto 0 auto; }

table.printerdata {
  width: 100%; }
  table.printerdata tbody > tr > td {
    padding: 3px; }
  table.printerdata td:first-child {
    color: #FAFAFA;
    font-weight: bold;
    text-align: right; }
  table.printerdata td:last-child {
    color: #9E9E9E;
    font-weight: normal;
    text-align: left; }
  table.printerdata .progress {
    margin-bottom: 0px; }
  table.printerdata .progress.support .progress-bar {
    background-color: #2196F3; }
  table.printerdata .progress.metal .progress-bar {
    background-color: #F5A623; }
